.App {
  text-align: center;
  min-height: 100vh;
}

#drop-overlay.drag-over {
  background-color: rgba(0, 0, 255, 0.2);
}

#drop-overlay.drag-over > * {
  display: block !important;
}

.tox.tox-tinymce {
    min-height: calc(100vh - 85px) !important;

}